<h1>New Patient</h1>

<%= simple_form_for(@patient) do |f|%>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :mobile_phone %>
  <%= f.input :date_of_birth %>
  <%= f.input :sex %>
  <%= f.input :weight %>
  <%= f.input :conditions, as: :check_boxes %>


  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>



