<h2>Patient Information</h2>

<table>
  <tr>
    <td>Name: <%= @patient.name %></td>
  </tr>
  <tr>
    <td>Age: <%= @patient.age %></td>
  </tr>
  <tr>
    <td>Sex: <%= @patient.sex %></td>
  </tr>
  <tr>
    <td>Weight: <%= @patient.weight %></td>
  </tr>
  <tr>
    <td>Allergies: <%= @patient.allergies %></td>
  </tr>
  <tr>
    <td>Known Conditions: <%= formatted_list(@patient.conditions) %></td>
  </tr>
  <tr>
    <td>Symptoms: <%= formatted_list(@patient.symptoms) %></td>
  </tr>
</table>
